$highlight-color: #34495e;
$gray-color: #95a5a6;
$black-color: #333;

$padding: 1rem;
$padding-small: 0.5rem;
$padding-tiny: 0.25rem;

$header-font: 'Roboto', sans-serif;
$body-font: 'Roboto', sans-serif;
$logo-font: 'Open Sans', sans-serif;

%v-align {
  display: flex;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  height: 100vh;
}

body {
  font-family: $body-font;
  color: $black-color;
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;
}

h1 {
  font-size: 17pt;
}

h2 {
  margin-bottom: $padding-small;
}

p {
  font-family: $body-font;
  font-size: 13px;
}

ul {
  list-style-type: none;
}

#app-root {
  height: 100vh;
}

.grid {
  display: grid;
  height: 100vh;
  grid-gap: $padding;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 60px 1fr 90px;
  grid-template-areas:
    'header header'
    'content sidebar'
    'footer footer';
}

.header {
  background: $highlight-color;
  color: white;
  display: grid;
  grid-area: header;
  grid-gap: $padding;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100%;
}

.header-title {
  @extend %v-align;
  font-weight: bold;
  font-family: $logo-font;
  margin-left: $padding;
}

.header-weather {
  @extend %v-align;
  margin-right: $padding;
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 100%;
  grid-template-rows: 60px 30px;
}

.footer-ticker-tape {
  @extend %v-align;
}

.footer-about {
  @extend %v-align;
  display: flex;
  justify-content: center;
  background: $highlight-color;
  color: white;
}

.sidebar {
  max-height: 100%;
  overflow: hidden;
  margin-right: $padding;
  grid-area: sidebar;
}

.content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  margin-left: $padding;
  overflow: hidden;
}

.title-icon {
  margin-right: $padding-tiny;
}

/*Announcements*/
.announcement-box {
  grid-area: announcements;
  height: 100%;
  transition: background-color 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement-box span {
    font-family: $header-font;
    font-size: 1.5em;
}

.announcement-box.level-warning {
    background-color: #fe9;
}

.announcement-box.level-info {
    background-color: #aec6cf;
}

/* Weather Box */

.weather-box {
  font-family: $header-font;
  font-size: 0.7em;

  li {
    margin-right: 10px;
  }
}
