$highlight-color: #34495e;
$gray-color: #95a5a6;
$black-color: #333;
$red-color: #d00;

$padding: 1rem;
$padding-small: 0.5rem;
$padding-tiny: 0.25rem;

$header-font: 'Roboto', sans-serif;
$body-font: 'Roboto', sans-serif;
$logo-font: 'Open Sans', sans-serif;

%v-align {
  display: flex;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  height: 100vh;
  margin:0;
  padding:0;
}

body {
  font-family: $body-font;
  color: $black-color;
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;
}

h1 {
  font-size: 17pt;
}

h2 {
  margin-bottom: $padding-small;
}

p {
  font-family: $body-font;
  font-size: 13px;
}

ul {
  list-style-type: none;
}

#app-root {
  height: 100vh;
}

.grid {
  overflow:hidden;
  display: grid;
  height: 100vh;
  // grid-template-columns: 3fr 1fr;
  // grid-template-rows: 60px 1fr 90px;
  // grid-gap: $padding;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 60px auto auto;
  grid-template-areas:
    'header header'
    'content sidebar'
    'footer footer';
}

@media screen and (min-width:1000px) {
.grid {
  grid-template-columns: 2fr 1fr;
}
}

.header {
  background: $highlight-color;
  color: white;
  display: grid;
  grid-area: header;
  grid-gap: $padding;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100%;
}

.header-title {
  @extend %v-align;
  font-weight: bold;
  font-family: $logo-font;
  margin-left: $padding;
}

.header-weather {
  @extend %v-align;
  margin-right: $padding;
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 100%;
  grid-template-rows: 60px 30px;
}

.footer-ticker-tape {
  @extend %v-align;
}

.footer-about {
  @extend %v-align;
  display: flex;
  justify-content: center;
  background: $highlight-color;
  color: white;
}

.sidebar {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $padding;
  grid-area: sidebar;
}

.content {
  grid-area: content;
  padding: $padding;
  overflow: auto;
}

.title-icon {
  margin-right: $padding-tiny;
}
