.news {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.article {
  border: 1px solid $gray-color;
  border-radius: 4px;
  width: 30%;
  height: 45%;
  background-color: white;
}

.article-body {
  padding: $padding-small;
}

.article img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.article p {
  overflow-y: hidden;
  max-height: 95px;
}
