.news {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article {
  border: 1px solid $gray-color;
  border-radius: 4px;
  background-color: white;
  position: relative;
}

.article-body {
  padding: $padding-small;
}

.article-title {
  text-align: justify;
  margin-bottom: $padding-small;
}

.article-text {
  color: #777;
}

.article-local-sign {
  position: absolute;
  top: -24px;
  right: -21px;
  color: red;
}

.article-local {
  border: 5px solid $red-color;
}

.article img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  overflow-y: hidden;
}
