.twitter-feed {
  display: flex;
  flex-direction: column-reverse;
  // overflow: scroll;
}

.tweet {
  padding: $padding-small;
  border: 1px solid $gray-color;
  border-radius: 4px;

  & + & {
    margin-top: $padding-small;
  }
}

.tweet-title {
  display: flex;
}

.tweet-calendar {
  color: $gray-color;
}

.tweet-sender-text {
  flex-grow: 1;
}

.tweet-sender {
  font-weight: bold;
}

.tweet-body {
  word-wrap: break-word;
  margin-left: 1em;
  margin-top: $padding-tiny;
}
