.twitter-feed {
  display: flex;
  flex-direction: column-reverse;
}

.tweet {
  padding: $padding;
  border: 1px solid $gray-color;
  border-radius: 4px;

  & + & {
    margin-bottom: $padding-small;
  }
}

.tweet-title {
  // display: flex;
}

.tweet-calendar {
  font-size:.7em;
  color: $gray-color;
}

.tweet-sender-text {
  // flex-grow: 1;
}

.tweet-sender {
  font-weight: bold;
}

.tweet-body {
  word-wrap: break-word;
  margin-top: $padding-tiny;
}
