
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#app-root {
  height: 100vh;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
}

.root {
  height: 100vh;
  display: flex;
}

.column1 {
  flex-grow: 3;

  height: 100vh;
}

.column2 {
  flex-grow: 1;

  height: 100vh;
  padding: 5px;
}

/* Announcements */
.column1-row1 {
  height: 20vh;
  padding: 5px;
  background-color: #888;
}

/* News */
.column1-row2 {
  height: 80vh;
  padding: 5px;
  background-color: #ccc;
}

/* Weather */
.column2-row1 {
  height: 100vh;
  padding: 5px;
  background-color: #aaa;
}
